<!--The content below is only a placeholder and can be replaced.-->
<div class="container">

  <nav class="nav">
    <span class="nav-link">{{ title }}</span>
    <a  class="nav-link" routerLink="/dashboard">Dashboard</a>
    <a  class="nav-link" routerLink="/tree">Tree</a>
  </nav>
  <router-outlet></router-outlet>
  <hr/>
  <footer class="text-muted">
      <small class="container">
        <p>You are using ©TreeNet</p>
        <p>Powered by Flask, MongoDB, Angular and Bootstrap.</p>
      </small>
    </footer>
</div>
